<html>
<head>
    <meta charset="utf-8">
    <title>Vue 测试实例 - 菜鸟教程(runoob.com)</title>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <!-- 引入resource,ajax调用接口-->
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>

</head>
<body>
<div id="app"></div>
<!-- 第一节 vue 起步-->
<div id="vue_det">
    <h1>site : {{site}}</h1>
    <h1>url : {{url}}</h1>
    <h1>{{details()}}</h1>
</div>

<script type="text/javascript">
    var vm = new Vue({
        el: '#vue_det',
        data: {
            site: "菜鸟教程",
            url: "www.runoob.com",
            alexa: "10000"
        },
        methods: {
            details: function() {
                return  this.site + " - 学的不仅是技术，更是梦想！";
            }
        }
    })
/*
    当一个 Vue 实例被创建时，它向 Vue 的响应式系统中加入了其 data 对象中能找到的所有的属性。当这些属性的值发生改变时，html 视图将也会产生相应的变化。
*/
    //我们的对象
    var data2 = {site:"第二个对象的site",url:"第二个对象的url",alexa:"第二个对象的alexa"}
    var vm2 = new Vue({
        el:'#id2',
        data:data2
    })
    document.write(vm2.site == data2.site)
    vm2.site = "设置的属性site";
    //上边data2是一个对象

</script>

<!-- ==========================================第二节模板语法 ===========================================-->
<!-- 插值 -->
    <!--文本  用双大括号 {{}}-->
<div id="id3">
    <p>文本  用双大括号: {{message}} </p> <!-- 空的双大括号会让div 不显示 -->
</div>
<script type="text/javascript">
    var vm3 = new Vue({
        el:'#id3',
        data:{
            message:"菜鸟教程第二节"
        }
    })
</script>
   <!-- html 用v-html指令-->
<div id="id4">
    <div  v-html="message"></div>
</div>
<script type="text/javascript">
    var vm4 = new Vue({
        el:'#id4',
        data:{
            message:'<p>菜鸟教程第二节 v-html指令 </p>'
        }
    })
</script>
    <!-- 表达式 支持完全的js表达式-->
<div id="id5">
    {{5+5}}<br>
    {{ok?"yes":"no"}}<br>
    {{message.split('u')}}
</div>
<script type="text/javascript">
    new Vue({
        el:'#id5',
        data:{
            ok:true,
            message:"zhouxudong",
            id:1
        }
    })
</script>

<!-- get调用接口 必须先在config里配置proxyTable，不然会跨域拦截-->
<div id="box">
    <div>
      <input type="button" @click="get()" value="获取学生数量(Get)">
      <h1>学生数量：{{count}}</h1>
    </div>
</div>
<!-- post调用接口 必须先在config里配置proxyTable，不然会跨域拦截-->
  <!-- 带参数的get和post请求  this.$http.post('post.php',{params : jsonData},{emulateJSON:true}) 格式 -->
  <!-- post要多加个参数，get不用 this.$http.get('get.php',{params : jsonData}) -->
<div id="id6">
  <input type="button" @click="getWithParam()" value="获取学生集合(Get带参数)">
  <h1>学生集合：{{stuList}}</h1>
</div>
<script type="text/javascript">
    window.onload = function(){
        var vm = new Vue({
            el:'#box',
            data:{
                msg:'Hello World!',
                count:"",
            },
            methods:{
                get:function(){
                    //发送get请求
                    this.$http.get('/api/stu/getCount').then(function(res){
                        //document.write(res.body);
                        vm.count = res.bodyText;
                    },function(){
                        console.log('请求失败处理');
                    });
                }
            }
        });
        var vm2 = new Vue({
          el:'#id6',
          data:{
            stuList:""
          },
          methods:{
            getWithParam:function(){
                this.$http.post('/api/stu/getStuByIdScope',{"id1":1,"id2":70}).then(function(res){
                    //document.write(res.body);
                    vm2.stuList = res.bodyText;
                },function(){
                    console.log('请求失败处理');
                });
            }
          }
        });
    }
</script>


<br><br><br><br><br><br><br><br><br><br>
</body>
</html>
